<h3 class="page-heading">
	操作日志查看
</h3>

<div name="form" novalidate>
	<table>
		<tr>
			<td>用户:</td><td><input name="operator" required type="text" ng-model="cityModel.operator"></td>

		</tr>
		<tr>
			<td>用户IP:</td><td><input name="operatorIp"  required type="text" ng-model="cityModel.operatorIp"></td>

		</tr>
		<tr>
			<td>操作:</td><td><input name="operation" type="text" ng-model="cityModel.operation"></td>

		</tr>
		<tr>
			<td>操作对象:</td><td><input name="operateModelName" type="text" ng-model="cityModel.operateModelName"></td>
		</tr>
		<tr>
			<td>操作时间:</td><td><input name="createTime" type="text" ng-model="cityModel.createTime"></td>
		</tr>
	</table>

</div>
