<div class="page-header">
	<h1>管理站内设备</h1>
</div>
<div>
	<select name="availableSites" id="A" multiple="multiple" size="12" style="width: 200px;float:left" >
		<option name="option" ng-repeat="(x,y) in availableSites" value="{{x}}">{{y}}</option>
	</select>
	<div style="float:left">
	<input type="button" name="addone" value="->" ng-click="ctrl.getSelectedA()"><br>
	<input type="button" name="addall" value="->>" ng-click="ctrl.getSelectedAll()"><br>
	<input type="button" name="removeone" value="<-" ng-click="ctrl.getSelectedR()"><br>
	<input type="button" name="removeall" value="<<-" ng-click="ctrl.getSelectedRAll()">
	</div>
	<select name="citySites" id="B" multiple="multiple" size="12" style="width: 200px;">
		<option name="option" ng-repeat="(x,y) in citySites" value="{{x}}">{{y}}</option>
	</select>
	<br>
	<button style="display: block" ng-click="ctrl.commit()">提交</button>
</div>


