<h3 class="page-heading">
	查询站点
</h3>

<div name="form" novalidate>
	<table>
		<tr>
			<td>代码:</td><td><input name="siteCode" required type="text" ng-model="cityTip.siteCode"></td>

		</tr>
		<tr>
			<td>名称:</td><td><input name="siteName"  required type="text" ng-model="cityTip.siteName"></td>

		</tr>
		<tr>
			<td>类型:</td><td><input name="siteType" type="text" ng-model="cityTip.siteType"></td>

		</tr>
		<tr>
			<td>站点监测类型:</td><td><input name="siteMonType" type="text" ng-model="cityTip.siteMonType"></td>
		</tr>
		<tr>
			<td>省(直辖市):</td><td><input name="province" type="text" ng-model="cityTip.province"></td>
		</tr>
		<tr>
			<td>城市:</td><td><input name="cityName" type="text" ng-model="cityTip.cityName"></td>
		</tr>
		<tr>
			<td>状态:</td><td><input name="status" type="text" ng-model="cityTip.status"></td>
		</tr>
		<tr>
			<td>管理机构:</td><td><input name="managerment" type="text" ng-model="cityTip.managerment"></td>
		</tr>
		<tr>
			<td>责任人:</td><td><input name="realName" type="text" ng-model="cityTip.realName"></td>
		</tr>
		<tr>
			<td ng-click="ctrl.query()" style="cursor: pointer">查询</td>
		</tr>
	</table>

</div>
