<h3 class="page-heading">
	编辑站点
</h3>

<form name="form" novalidate>
	<table>
		<tr>
			<td>代码:</td><td><input name="siteCode" type="text" ng-model="cityModel.siteCode"></td>
		</tr>
		<tr>
			<td>名称*:</td><td><input name="siteName"  required type="text" ng-model="cityModel.siteName"></td>
			<td ng-show=" form.siteName.$invalid" style="background-color: red">名称必填</td>
		</tr>
		<tr>
			<td>类型*:</td><td>
							  <select name="siteType" type="text" ng-model="cityModel.siteType">
								  <option value="PUBLIC">公有站点</option>
								  <option value="PRIVATE">私有站点</option>
							  </select></td>
			<td ng-show=" form.siteType.$invalid" style="background-color: red">类型必填</td>
		</tr>
		<tr>
			<td>站点监测类型:</td><td>
									<select name="siteMonType" type="text" ng-model="cityModel.siteMonType">
								  		<option value="1">空气质量</option>
								  		<option value="2">空气污染重点企业</option>
								  		<option value="3">饮用水水质</option>
								  		<option value="4">污水水质</option>
								  		<option value="5">水污染重点企业</option>
								  		<option value="6">主要流域重点断面水质</option>
									</select></td>
		</tr>
		<tr>
			<td>所属城市:</td><td><input name="cityName" type="text" ng-model="cityModel.cityName"></td>
		</tr>
		<tr>
			<td>站点经度*:</td><td><input required name="siteLongitude" type="text" ng-model="cityModel.siteLongitude"></td>
			<td ng-show=" form.siteLongitude.$invalid" style="background-color: red">站点经度必填</td>
		</tr>
		<tr>
			<td>站点纬度*:</td><td><input required name="siteLatitude" type="text" ng-model="cityModel.siteLatitude"></td>
			<td ng-show=" form.siteLatitude.$invalid" style="background-color: red">站点纬度必填</td>
		</tr>
		<tr>
			<td>自动更新状态:</td><td><input required name="autoUpd" type="text" ng-model="autoUpdMap[cityModel.autoUpd]"></td>
		</tr>
		<tr>
			<td>状态:</td><td>
							  <select name="status" type="text" ng-model="cityModel.status">
								  <option value="SITE_NORMAL">正常</option>
								  <option value="SITE_DISABLE">停用</option>
							  </select></td>
		</tr>
		<tr>
			<td>管理机构:</td><td><input name="managerment" type="text" ng-model="cityModel.managerment"></td>
		</tr>
		<tr>
			<td>责任人:</td><td><input name="realName" type="text" ng-model="cityModel.realName"></td>
		</tr>
		<tr>
			<td>备注:</td><td><textarea name="comment" ng-model="cityModel.comment"/></td>
		</tr>
	</table>
	<input type="submit" ng-disabled="form.siteName.$invalid||form.siteType.$invalid||form.siteLongitude.$invalid
				||form.siteLatitude.$invalid"
		   ng-click="ctrl.update()">
</form>
